<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Админка</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/js/jodit/build/jodit.min.css">
    include ./other/scripts.pug
  </head>
  <body>
    include ./other/nav.pug
    <div class="container-fluid">
      <div class="row">
        <div class='col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 list-product'>
          include ./products/list_products.pug
        </div>
        <div class='col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8'>
          include ./products/nav.pug
          include ./products/description.pug
          include ./products/information.pug
          include ./products/docs.pug
          include ./products/money.pug
          include ./products/geo.pug
          include ./products/offices.pug
          include ./products/modal.pug
          include ./products/btnSave.pug
        </div>
      </div>
    </div>
    include ./other/toast.pug
  </body>
</html>