.text-name-list-product{
  font-size: 22px;
}

#list-product{
  font-size: 16px;
  height: 350;
  overflow-y: scroll;
}

body{
  overflow: hidden;
}

.typeproduct{
  margin: 0;
  font-size: 12px;
}

.btn-prewiev{
  width: 100%;
}

#btn-save-product{
  margin: 5%;
  width: 90%;
}

.statistics{
  border: 2px solid gray;
  padding: 0.5%;
}

.blc-inf{
  border: 2px solid gray;
  padding:3%;
  margin-right: 0.3%;
  margin-top: 2%;
}

.desc-inf{
  font-size: 16px;
}

.desc-inf-min{
  font-size: 13px;
}
