<div class="row blc-docs">
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 list-docs">
    each row_docs in all_docs
      <div class="custom-control custom-switch">
        <br>
        <input type="checkbox" value="#{row_docs.name}" class="custom-control-input" id="doc_#{row_docs.id}">
        <label class="custom-control-label" for="doc_#{row_docs.id}">#{row_docs.name}</label>
      </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
    <div class="row blc-docs-add">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <span class="desc-inf">Добавление нового</span>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <label for="name-docs-new" class="text-primary">Наименование</label>
        <input class="form-control form-control-sm" type="text" id="name-docs-new">
      </div>
          
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right">
        <button type="button" class="btn btn-primary btn-sm" id="add-docs-new">Добавить</button>
      </div>
    </div>
  </div>
</div>