<div class="row blc-geo">

  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <button type="button" class="btn btn-primary btn-sm btn-geo">Загрузить данные с CPA</button>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <button type="button" class="btn btn-primary btn-sm btn-geo">Загрузить все регионы</button>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <button type="button" class="btn btn-primary btn-sm btn-geo">Загрузить все города по регионам</button>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 blc-list-geo">
        <span class="desc-inf text-primary">Все регионы</span>
        <ul class="list-group list-geo" id="region_all">
        </ul>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 blc-list-geo">
        <span class="desc-inf text-primary">Регионы продукта</span>
        <ul class="list-group list-geo" id="region_product">
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 blc-list-geo">
        <span class="desc-inf text-primary">Все регионы</span>
        <ul class="list-group list-geo" id="region_all">
        </ul>
      </div>
  
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 blc-list-geo">
        <span class="desc-inf text-primary">Регионы продукта</span>
        <ul class="list-group list-geo" id="region_product">
        </ul>
      </div>
    </div>


  </div>
</div>