<div class="row">
  <div class='col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3'>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
        <span class="text-info text-name-list-product">Список придуктов</span>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action active">Cras justo odio</a>
          <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
          <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
          <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
          <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
        </div>
      </div>
    </div>
  </div>