<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
    <span class="text-white text-name-list-product">Список продуктов</span>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 blc-list-product">
    <ul class="list-group" id="list-product">
      each row_product in all_product
        <li href="#" uid="#{row_product.uid}" class="list-group-item list-group-item-action">#{row_product.name}<p class="text-right typeproduct">#{row_product.type_product}</p>
        </li>
      </ul>
  </div>
</div>
