<ul class="nav nav-tabs nav-product">
  <li class="nav-item">
    <a class="nav-link active" href="#" id="nav-product-description">Описание</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" id="nav-product-information">Информация</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" id="nav-product-docs">Документы</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Способы получения</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">ГЕО</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Офисы</a>
  </li>
</ul>