<script src="/public/js/socket.io.js" async></script>
<script src="/public/js/jquery.min.js" async></script>
<script src="/public/js/jodit/build/jodit.min.js" async></script>
<script src="/public/js/popper.min.js" async></script>
<script src="/public/js/bootstrap.min.js" async></script>
<script src="/public/js/q.min.js" async></script>
<script src="/public/js/async.min.js" async></script>
<script src="/public/js/underscore-min.js" async></script>
<script src="/public/js/func.js" async></script>
<script src="/public/js/common.js" async></script>